#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_freicoin
#build/freicoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_freicoin)

DEB_INSTALL_EXAMPLES_freicoind += debian/examples/*
DEB_INSTALL_MANPAGES_freicoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix freicoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f freicoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bitcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_freicoin
	src/test_freicoin

# Ensure wrapper is set executable
binary-post-install/freicoind:
	chmod +x $(cdbs_curdestdir)usr/bin/freicoind
binary-post-install/freicoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/freicoin-qt
